.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.4rem;
    margin-bottom: 200px;
}

.text{
    padding: 2rem;
}

.logo {
    width: 30%;
    height: 30%;
    margin-right: 250px;
    margin-left: 220px;
}